<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<section class=" banner d-flex justify-content-center align-items-center">
		
		<div class="text-center">
		
			<h1 class="font-weight-bold" >Smart contact Manager</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Quod cupiditate ipsam optio ipsa laudantium atque voluptatem aut labore culpa sequi?
			</p>
			
			<button class="btn bg-primary btn-lg text-white">Get Started</button>
		
		</div>
		
		
		
	</section>
	
</body>
</html>